.dropdown-tree-container {
    cursor: pointer;
    position: relative;
}

.dropdown-tree-container .icon {
    float: right;
}

.dropdown-tree-container .icon .caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.dropdown-tree-container .icon .caret.up {
    border-top: none;
    border-bottom: 4px solid;
}

.dropdown-tree-container .icon .input-clear {
    vertical-align: middle;
    color: #555;
    opacity: .2;
    right: 0;
}

.dropdown-tree-container .input-clear:hover {
    opacity: .5;
    color: #ed5565;
}

.dropdown-tree-container label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
.dropdown-tree-container .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.dropdown-tree-container .form-control.has-error {
    border-color: #ed5565 !important;
}
.dropdown-tree-container .form-control.has-success {
    border-color: #1ab394 !important;
}
.dropdown-tree-container label.has-success {
    color: #1ab394 !important;
}
.dropdown-tree-container label.has-error {
    color: #ed5565 !important;
}

.dropdown-tree-container .tree-input {
    height: auto;
}
.dropdown-tree-container .tree-input > span {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.dropdown-tree-container .tree-input > ul {
    margin: 0;
    margin-right: 0px;
    padding: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.dropdown-tree-container .tree-input > ul li {
    float: left;
    list-style: none;
    padding: 2px 5px;
    margin: 3px 3px 0 0;
    position: relative;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 3px;
    color: #555;
    font-size: 12px;
}

.dropdown-tree-container .tree-input > ul li.empty {
    border: 1px solid #fff;
    background: #fff;
}

.dropdown-tree-container .tree-wrapper {
    border: none;
    height: auto;
    padding: 0;
}

.dropdown-tree-container .tree-header {
    padding: 5px;
    border-bottom: 1px solid #ddd;
}
.dropdown-tree-container .tree-header .row {
    margin-right: -15px;
    margin-left: -15px;
}
.dropdown-tree-container .tree-header .header-text {
    margin: 4px 6px;
    font-weight: 600;
    font-size: 1.1em;
}

.dropdown-tree-container .tree-header .search-container {
    position: relative;
}

.dropdown-tree-container .search-input {
    height: 30px;
    padding: 5px 10px;
    padding-right: 30px;
    line-height: 1.5;
    border-radius: 3px;
    margin: 0;
    font: inherit;
}

.dropdown-tree-container .search-clear {
    float: right;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
    font-size: 1.4em;
    padding: 6px 20px;
    position: absolute;
    right: 0;
}

.dropdown-tree-container .search-clear:hover {
    opacity: .5;
}

.dropdown-tree-container .dropdown-menu.open {
    display: block;
}
.dropdown-tree-container .tree-dropdown {
    padding: 0;
    width: 100%;
}
.dropdown-tree-container .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.dropdown-tree-container .tree {
    height: 190px;
    overflow: auto;
    padding: 10px 5px 5px;
}

.dropdown-tree-container .tree ul {
    list-style: none;
}

.dropdown-tree-container .tree ul li {
    list-style: none;
    padding-left: .75em;
    border: dotted #333;
    border-width: 0 0 1px 1px;
    line-height: 25px;
    margin-left: 0.3em;
}

.dropdown-tree-container .tree ul:first-child {
    padding-left: .73em;
}

.dropdown-tree-container .tree ul:first-child > li:first-child {
    border: none;
}
.dropdown-tree-container .tree ul:first-child > li > ul {
    border-top: none;
}

.dropdown-tree-container .tree ul li ul {
    margin-left: -0.7em;
    padding-left: 1.15em;
    border-top: 1px dotted #333;
}
.dropdown-tree-container .tree ul li ul.last-node {
    margin-left: -0.82em;
    background-color: #fff;
}
.dropdown-tree-container .tree ul li.parent {
    border-bottom: 1px solid #fff;
}
.dropdown-tree-container .tree ul li .node {
    margin: 0;
    top: 1em;
    background: #fff;
    width: 100%;
    cursor: default;
    position: relative;
}

.dropdown-tree-container .tree ul li .node > i, .dropdown-tree-container .tree ul li .node > span {
    margin-left: 4px;
}
.dropdown-tree-container .tree ul li .node i.fa-minus-square-o, .dropdown-tree-container .tree ul li .node i.fa-plus-square-o {
    cursor: pointer;
}
.dropdown-tree-container .tree ul li .node i.fa-check-square-o {
    color: #2c8f7b !important;
}
.dropdown-tree-container .tree ul li .node > span:hover, .dropdown-tree-container .tree ul li .node > span.selected{
    background-color: #e8e8e8;
}
